<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div ng-controller="StoreController as store">

		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
				<h3>
					{{product.name}}
					<em class="pull-right"> {{product.price | currency }} </em>
				</h3>
				<div ng-show="product.images.length" ng-controller="GalleryController as gallery">
					<img ng-src="{{ product.images[gallery.current].full }}"  width="330" />
					<ul class="list-inline thumbs">
						<li class="thumbnail" ng-repeat="image in product.images" ng-click="gallery.setCurrent($index)">
							<img ng-src="{{image.thumb}}"  width="100" />
						</li>
					</ul>
					
				</div>

				<section class="tab" ng-controller="TabController as tab">
					<ul class="nav nav-pills">
						<li ng-class="{active: tab.isSet(1)}">
							<a href ng-click="tab.setTab(1)">Description</a></li>
						<li ng-class="{active: tab.isSet(2)}">
							<a href ng-click="tab.setTab(2)">Specs</a></li>
						<li ng-class="{active: tab.isSet(3)}">
							<a href ng-click="tab.setTab(3)">Reviews</a></li>
					</ul>

					<div ng-show="tab.isSet(1)">
						<h4>Description</h4>
						<blockquote>{{ product.description }}</blockquote>
					</div>
					<div ng-show="tab.isSet(2)">
						<h4>Specs</h4>
						<blockquote>Shine: {{ product.shine }}</blockquote>
					</div>
						<div ng-show="tab.isSet(3)">
						<h4>Reviews</h4>
						<!-- 2.1 Let's create a list to display our current product reviews  -->
						<ul>
							<!-- 2.2 using ng-repeat again, we can 'iterate' through our reviews array. -->
							<li ng-repeat="review in product.reviews">
								<blockquote>
									<strong> {{review.stars}} Stars </strong>
									{{review.body}}
									<cite class="clearfix">—{{review.author}}</cite>
								</blockquote>
							</li>													
						</ul>
						<!-- 2.3 Now we'll build a form to submit new reviews  -->
						<form name="reviewForm">
							<!--  Review Form -->
							<h4>Submit a Review</h4>
							<fieldset class="form-group">
								<!-- 2.4: 	We'll use a select input for our Star rating. 
									
									2.4.1: 	We want to 'bind' this value to our scope so we can view it in the DOM. To do that, 
											we can connect it to an ng-model directive. This places the value of the input onto 
											our $scope for later use. 

									2.4.2: 	We can use ng-options to dynamically create the options available 
											ng-options=" [select] as [label] in [array]" 
											(see: https://docs.angularjs.org/api/ng/directive/ngOptions 
											OR example: http://jsfiddle.net/qWzTb/) 
											-->
								<select ng-model="review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
									<option value="">Rate the Product</option>
								</select>
							</fieldset>
							<fieldset class="form-group">

								<!-- 2.4.3 add a textarea for the review body. We'll bind it again using ng-model. -->
								<textarea ng-model="review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
							</fieldset>
							
							<fieldset class="form-group">
							
								<!-- 2.4.4 add an email field and bind using ng-model. -->
								<input type="email" ng-model="review.author" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
							</fieldset>
							
							<fieldset class="form-group">
							
								<!-- 2.4.5 add a simple submit button. -->
								<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
							</fieldset>

							<!--  Live Preview -->
							<blockquote>
								<h4>Preview your review:</h4>
								<!-- 2.5 Now we'll display our three bound values in a 'live preview' just by adding them in an expression. -->
								<strong>{{review.stars}} Stars</strong>
								{{review.body}}
								<cite class="clearfix">—{{review.author}} </cite>
							</blockquote>

						</form>

					</div>
				</section>
			</li>
		</ul>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>